@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-softBlack: #111111;
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}